<form action="" method = "post">
    <h1>Edit instruciton</h1>
    <input type="text" name="name" id="" required
    placeholder="edit instruction name" value="{{instruction.name}}">

    <input type="submit" value="Edit">
</form>