<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Menu2</a></li>
         <li><a href="/auth/logout">LOGOUT ({{username}})</a></li>
    </ul>
</body>
</html>
<h1>Logged in with user role</h1>