<form action="" method = "post">
    <h1>Edit category</h1>
    <input type="text" name="name" id="" required
    placeholder="edit category name" value="{{category.name}}">

    <input type="submit" value="Edit">
</form>